@{
    string homeController = null, homeAction = null, homeTxt = "Home Page";
    string firstController = null, firstAction = null, firstTxt=null;
    string secondController = null, secondAction = null, secondTxt = null;
    string thirdController = null, thirdAction = null, thirdTxt = null;
    if (User.IsInRole("Trainee"))
    {
        homeController = firstController = "Trainee";
        homeAction = "Details";
        firstAction = "GetResults"; firstTxt = "Results";
    }
    else if (User.IsInRole("Instructor"))
    {
    //Todo
    }
    else // admin
    {
        homeController = "Department"; firstController = "Course"; secondController = "Instructor"; thirdController = "Trainee";
        homeAction = firstAction = secondAction = thirdAction = "index";
        homeTxt = "Departments"; firstTxt = "Courses"; secondTxt = "Instructors"; thirdTxt = "Trainees";
    }
}

@* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" mb-3>
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller=@homeController asp-action=@homeAction>@homeTxt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller=@firstController asp-action=@firstAction>@firstTxt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller=@secondController asp-action=@secondAction>@secondTxt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller=@thirdController asp-action=@thirdAction>@thirdTxt</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-r">
                @if(!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="index">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>