@model Instructor

@{
	var deps = ViewBag.Departments;
	var courses = ViewBag.Courses;
}
<form action="add" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	
	<div>
	<label class="form-label" asp-for="Email"></label>
	<input asp-for=Email class ="form-control" />
	<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div>
	<label class="form-label" asp-for="PasswordHash">Password</label>
	<input asp-for=PasswordHash type="password" class="form-control" />
	<span asp-validation-for="PasswordHash" class="text-danger"></span>
	</div>

	<label class="form-label">Name</label>
	<input asp-for=Name class ="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>

	<label class="form-label">Address</label>
	<input asp-for=Address class="form-control"  />
	<span asp-validation-for="Address" class="text-danger"></span>

	<label class="form-label">Salary</label>
	<input asp-for=Salary type="number" class="form-control" />
	<span asp-validation-for="Salary" class="text-danger"></span>

	<label class="form-label">Image</label>
	<input asp-for=Img class="form-control" />
	<span asp-validation-for="Img" class="text-danger"></span>

	<label class="form-label">Department</label>
	<select asp-for="DepartmentId" class="form-select" asp-items="@deps" onchange="GetRelatedCourses(this.value)">
		<option value="">Select Department</option>
	</select>
	<span asp-validation-for="DepartmentId" class="text-danger"></span>

	<label class="form-label">Course</label>
	<select asp-for="CourseId" class="form-select">
		<option value="">Select Department First</option>
	</select>
	<span asp-validation-for="CourseId" class="text-danger"></span>

	<br />
	<button type="submit" class="btn btn-primary">Add</button>

</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	@* <script src="\lib\jquery\dist\jquery.min.js"></script> *@
	<partial name="_GetRelatedCoursesPartial"/>
}
